@model Wangkanai.Detection.Services.IDetectionService

@if (Model.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
{
    <footer class="border-top footer text-muted">
        <div class="container">
            <div>
                &copy; 2021-@DateTime.Now.ToString("yy") - Trade Control Ltd
            </div>        
        </div>
    </footer>
}