<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="nav-link text-black-50" asp-area="" asp-page="/Index">@ViewData["CompanyName"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="nav-link text-dark" asp-page="">Cash Accounts<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/PaymentEntry/Index">Payment Entry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/AssetEntry/Index">Asset Entry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/Transfer/Index">Bank Transfers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/Statement/Index">Statements</a>
                            </li>
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Subject/CashAccount/Index">Maintenance</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" role="button" class="nav-link text-dark" asp-page="">Invoicing<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Raise/Index">Raise</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Register/Index">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Register/Summary">Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Register/Unpaid">Unpaid</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Update/Index" asp-route-printed="false">Unsent</a>
                            </li>
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Settings/Index">Numbering</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Invoice/Template/Index">Email Templates</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" role="button" class="nav-link text-dark" asp-page="">Subjects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Subject/Update/Index">Maintenance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Subject/Enquiry/Index">Enquiries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Subject/Reports/DebtorsAndCreditors">Debtors and Creditors</a>
                            </li>
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Subject/Type/Index">Types</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" role="button" class="nav-link text-dark" asp-page="">Accounts<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Periods/Index">Financial Periods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/Accounts/BalanceSheet">Balance Sheet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/Accounts/ProfitAndLoss">Profit and Loss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Tax/Vat/Index">VAT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Tax/Company/Index">Company Tax</a>
                            </li>
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Tax/Settings/Index">Tax Settings</a>
                                    </li>
                                }
                            }
                            </ul>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" role="button" class="nav-link text-dark" asp-page="">System<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Tax/TaxCode/Index">Tax Codes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/CategoryCode/Index">Cash Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/CashCode/Index">Cash Codes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cash/Totals/Index">Cash Totals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/EventLog/Index">Event Log</a>
                            </li>
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Host/Index">Mail Settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FileTransfer/Index">File Transfer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index">Registrations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Setup/Index">Initialisation</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>