@inject Wangkanai.Detection.Services.IDetectionService Detection
@using Wangkanai.Detection.Models

<header>
    @{
        // If the device is a mobile device, don't add the "navbar-expand-*" class
        // so the navbar always stays collapsed and shows the hamburger.
        var expandClass = (Detection?.Device?.Type == Device.Mobile) ? "" : "navbar-expand-sm";
    }
    <nav class="navbar @expandClass navbar-light bg-white box-shadow mb-3">
        <div class="container">
            <a asp-area="" asp-page="/Index" class="navbar-brand">
                <img src="~/content/images/icon.svg" alt="Company Logo" class="tc-logo me-2" />
            </a>
            <a class="navbar-brand tc-brand" asp-area="" asp-page="/Index">@ViewData["CompanyName"]</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navDropdownCash" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cash Accounts</a>
                        <ul class="dropdown-menu" aria-labelledby="navDropdownCash">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/PaymentEntry/Index">Payment Entry</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/AssetEntry/Index">Asset Entry</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/Transfer/Index">Bank Transfers</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/Statement/Index">Statements</a>
                            </li>
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Subject/CashAccount/Index">Maintenance</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navDropdownInvoicing" role="button" data-bs-toggle="dropdown" aria-expanded="false">Invoicing</a>
                        <ul class="dropdown-menu" aria-labelledby="navDropdownInvoicing">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Invoice/Raise/Index">Raise</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Invoice/Register/Index">Register</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Invoice/Register/Summary">Summary</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Invoice/Register/Unpaid">Unpaid</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Invoice/Update/Index" asp-route-printed="false">Unsent</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navDropdownSubjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">Subjects</a>
                        <ul class="dropdown-menu" aria-labelledby="navDropdownSubjects">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Subject/Update/Index">Maintenance</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Subject/Enquiry/Index">Enquiries</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Subject/Reports/DebtorsAndCreditors">Debtors and Creditors</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navDropdownAccounts" role="button" data-bs-toggle="dropdown" aria-expanded="false">Accounts</a>
                        <ul class="dropdown-menu" aria-labelledby="navDropdownAccounts">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Admin/Periods/Index">Financial Periods</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/Accounts/BalanceSheet">Balance Sheet</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/Accounts/ProfitAndLoss">Profit and Loss</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/Accounts/CashStatement">Cash Statement</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Tax/Vat/Index">VAT</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navDropdownSystem" role="button" data-bs-toggle="dropdown" aria-expanded="false">System</a>
                        <ul class="dropdown-menu" aria-labelledby="navDropdownSystem">
                            @{
                                if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Admin/Manager/Index">Business Manager</a>
                                    </li>
                                }
                            }
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/CategoryTree/Index">Cash Configuration</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Cash/CashCode/Index">Cash Codes</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Admin/EventLog/Index">Event Log</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
</header>
