@page
@model TradeControl.Web.Pages.Invoice.Settings.EditModel
@{ ViewData["Title"] = "Edit Invoice Number"; }
<h1>@ViewData["Title"]</h1>
<hr />
<h2>@Model.Invoice_Type.InvoiceType</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Invoice_Type.NextNumber" class="control-label"></label>
                <input asp-for="Invoice_Type.NextNumber" class="form-control" />
                <span asp-validation-for="Invoice_Type.NextNumber" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Invoice_Type.InvoiceType" />
            <input type="hidden" asp-for="Invoice_Type.InvoiceTypeCode" />
            <input type="hidden" asp-for="Invoice_Type.CashPolarityCode" />

            <div class="mb-3">
                <input type="submit" value="UPDATE" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
