[submodule "src/TCExports"]
	path = src/TCExports
	url = https://github.com/TradeControl/tradecontrol-exports.git
[submodule "src/sqlnode"]
	path = src/sqlnode
	url = https://github.com/TradeControl/sqlnode.git
[submodule "src/tax-hub"]
	path = src/tax-hub
	url = https://github.com/TradeControl/tax-hub.git
