@page
@model TradeControl.Web.Pages.Tax.TaxCode.EditModel
@{ ViewData["Title"] = "Edit Tax Code"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="App_tbTaxCode.TaxCode" class="control-label"></label>
                <input asp-for="App_tbTaxCode.TaxCode" class="form-control" />
                <span asp-validation-for="App_tbTaxCode.TaxCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="App_tbTaxCode.TaxDescription" class="control-label"></label>
                <input asp-for="App_tbTaxCode.TaxDescription" class="form-control" />
                <span asp-validation-for="App_tbTaxCode.TaxDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="App_tbTaxCode.TaxRate" class="control-label"></label>
                <input asp-for="App_tbTaxCode.TaxRate" class="form-control" />
                <span asp-validation-for="App_tbTaxCode.TaxRate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="App_tbTaxCode.TaxTypeCode" class="control-label"></label>
                <p>
                    <select asp-for="TaxType" asp-items="Model.TaxTypes" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="App_tbTaxCode.RoundingCode" class="control-label"></label>
                <p>
                    <select asp-for="Rounding" asp-items="Model.Roundings" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="App_tbTaxCode.Decimals" class="control-label"></label>
                <input asp-for="App_tbTaxCode.Decimals" class="form-control" />
                <span asp-validation-for="App_tbTaxCode.Decimals" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="App_tbTaxCode.UpdatedBy" />
            <input type="hidden" asp-for="App_tbTaxCode.UpdatedOn" />

            <div class="mb-3">
                <input type="submit" value="UPDATE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-taxTypeCode="@Model.App_tbTaxCode.TaxTypeCode" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
