<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TradeControl.Node.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TradeControl.Node.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <connectionStrings>
    <add name="TradeControl.Node.Properties.Settings.tcNodeConnectionString"
      connectionString="Data Source=IAM-01;Initial Catalog=tcNodeDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TradeControl.Node.Properties.Settings.tcNodeConnectionString1"
      connectionString="Data Source=IAM;Initial Catalog=tcNode;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TradeControl.Node.Properties.Settings.tcNodeDb4_1_1ConnectionString"
      connectionString="Data Source=IAM-01;Initial Catalog=tcNodeDb4_1_1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <TradeControl.Node.Properties.Settings>
      <setting name="SqlServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthenticationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SqlScripts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
    </TradeControl.Node.Properties.Settings>
    <TradeControl.Node.Config.Properties.Settings>
      <setting name="SqlServerName" serializeAs="String">
        <value/>
      </setting>
      <setting name="SqlUserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthenticationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SqlUpgrades" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          </ArrayOfString>
        </value>
      </setting>
    </TradeControl.Node.Config.Properties.Settings>
  </userSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
