@page
@model TradeControl.Web.Pages.Cash.CashCode.CreateModel
@{ ViewData["Title"] = "New Cash Code"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Cash_tbCode.CashCode" class="control-label"></label>
                <input asp-for="Cash_tbCode.CashCode" class="form-control" />
                <span asp-validation-for="Cash_tbCode.CashCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCode.CashDescription" class="control-label"></label>
                <input asp-for="Cash_tbCode.CashDescription" class="form-control" />
                <span asp-validation-for="Cash_tbCode.CashDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCode.CategoryCode" class="control-label"></label>
                <p>
                    <button type="submit" asp-page-handler="GetCategoryCode" class="btn btn-outline-info">Select</button>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <button type="submit" asp-page-handler="NewCategoryCode" class="btn btn-outline-primary">New</button>
                        }
                    }

                </p>
                <p>
                    <select asp-for="Category" asp-items="Model.Categories" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCode.TaxCode" class="control-label"></label>
                <p>
                    <button type="submit" asp-page-handler="GetTaxCode" class="btn btn-outline-info">Select</button>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <button type="submit" asp-page-handler="NewTaxCode" class="btn btn-outline-primary">New</button>
                        }
                    }

                </p>
                <p>
                    <select asp-for="TaxDescription" asp-items="Model.TaxDescriptions" class="form-control"></select>
                </p>                
            </div>

            <input type="hidden" asp-for="Cash_tbCode.TaxCode" />
            <input type="hidden" asp-for="Cash_tbCode.CategoryCode" />
            <input type="hidden" asp-for="Cash_tbCode.IsEnabled" />
            <input type="hidden" asp-for="Cash_tbCode.InsertedBy" />
            <input type="hidden" asp-for="Cash_tbCode.InsertedOn" />
            <input type="hidden" asp-for="Cash_tbCode.UpdatedBy" />
            <input type="hidden" asp-for="Cash_tbCode.UpdatedOn" />

            <div class="mb-3">
                <input type="submit" value="CREATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
