@page
@model TradeControl.Web.Pages.Org.Type.CreateModel
@{ ViewData["Title"] = "New Organisation Type"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Org_tbType.OrganisationType" class="control-label"></label>
                <input asp-for="Org_tbType.OrganisationType" class="form-control" />
                <span asp-validation-for="Org_tbType.OrganisationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbType.CashModeCode" class="control-label"></label>
                <p>
                    <select asp-for="CashMode" asp-items="Model.CashModes" class="form-control"></select>
                </p>
            </div>

            <input type="hidden" asp-for="Org_tbType.OrganisationTypeCode" />
            <input type="hidden" asp-for="Org_tbType.CashModeCode" />

            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
