@page
@model TradeControl.Web.Pages.Tax.Settings.EditModel
@{ ViewData["Title"] = "Edit Tax Type"; }
<h1>@ViewData["Title"]</h1>
<hr />
<h4>@Html.DisplayFor(model => model.Cash_tbTaxType.TaxType)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CashDescription" class="control-label"></label>
                <p>
                    <select asp-for="CashDescription" asp-items="Model.CashDescriptions" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Cash_tbTaxType.RecurrenceCode" class="control-label"></label>
                <p>
                    <select asp-for="Recurrence" asp-items="Model.Recurrences" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="MonthName" class="control-label"></label>
                <p>
                    <select asp-for="MonthName" asp-items="Model.MonthNames" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <p>
                    <select asp-for="SubjectName" asp-items="Model.SubjectNames" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Cash_tbTaxType.OffsetDays" class="control-label"></label>
                <input asp-for="Cash_tbTaxType.OffsetDays" class="form-control" />
                <span asp-validation-for="Cash_tbTaxType.OffsetDays" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Cash_tbTaxType.CashCode" />
            <input type="hidden" asp-for="Cash_tbTaxType.RecurrenceCode" />
            <input type="hidden" asp-for="Cash_tbTaxType.MonthNumber" />
            <input type="hidden" asp-for="Cash_tbTaxType.SubjectCode" />
            <input type="hidden" asp-for="Cash_tbTaxType.TaxTypeCode" />
            <input type="hidden" asp-for="Cash_tbTaxType.TaxType" />

            <div class="form-group">
                <input type="submit" value="UPDATE" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

