@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<div>
    Your registration is being processed. System administrators can log in automatically.
</div>
