@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">A problem occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Consult the <a href="/Admin/EventLog/Index">Error Log</a> for details. 
</p>
<h3>Note</h3>
<p>
    Most errors will be caused by integrity checks. However, if you think the error is a bug you can submit the entry to the developer from the logs.
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}