@page
@model IndexModel

@{
    ViewData["Title"] = "Trade Control";
}

<h1>Mobile Pages</h1>
<a class="nav-link" asp-area="" asp-page="./Admin/Users/Index">Authentication - Register Users</a>
<a class="nav-link" asp-area="" asp-page="./Admin/Calendar/Index">Model - Calendar Maintenance</a>
<a class="nav-link" asp-area="" asp-page="./Cash/PaymentEntry/Index">Business Logic - Add Payments</a>
