@page
@model TradeControl.Web.Pages.Org.Address.EditModel
@{ ViewData["Title"] = "Edit Address"; }
<h1>@ViewData["Title"]</h1>
<hr />

<h4>@Html.DisplayFor(model => model.AccountName)</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Org_tbAddress.AddressCode" />
            <input type="hidden" asp-for="Org_tbAddress.AccountCode" />
            <input type="hidden" asp-for="Org_tbAddress.InsertedBy" />
            <input type="hidden" asp-for="Org_tbAddress.UpdatedBy" />
            <input type="hidden" asp-for="Org_tbAddress.InsertedOn" />
            <input type="hidden" asp-for="Org_tbAddress.UpdatedOn" />

            <div class="form-group">
                <label asp-for="Org_tbAddress.Address" class="control-label"></label>
                <textarea rows="5" asp-for="Org_tbAddress.Address" class="form-control"></textarea>
                <span asp-validation-for="Org_tbAddress.Address" class="text-danger"></span>
            </div>

            <div class="form-check-inline">
                <label asp-for="IsAdminAddress" class="control-label"></label>
                <input asp-for="IsAdminAddress" class="form-control"  />
                <span asp-validation-for="IsAdminAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="SAVE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Org_tbAddress.AccountCode" class="btn btn-info">Back to List</a>
            </div>
        </form>

    </div>
</div>
