@page
@model TradeControl.Web.Pages.Tax.Company.AdjustmentModel
@{ ViewData["Title"] = "Tax Adjustment"; }

<h1>@ViewData["Title"]</h1>

<h4>@Html.DisplayFor(model => model.Cash_CorpTaxTotal.Description) - @Html.DisplayFor(model => model.Cash_CorpTaxTotal.Period)</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Cash_CorpTaxTotal.TaxAdjustment" class="control-label"></label>
                <input asp-for="TaxAdjustment" class="form-control" />
                <input type="hidden" asp-for="StartOn" />
                <span asp-validation-for="TaxAdjustment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ADJUST" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>
