@page
@model TradeControl.Web.Pages.Org.Edit.CreateModel

@{ ViewData["Title"] = "New Organisation"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrgEntry.AccountName" class="control-label"></label>
                <input asp-for="OrgEntry.AccountName" class="form-control" />
                <span asp-validation-for="OrgEntry.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.OrganisationType" class="control-label"></label>
                <p>
                    <select asp-for="OrgEntry.OrganisationType" asp-items="Model.OrganisationTypes" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.OrganisationStatus" class="control-label"></label>
                <p>
                    <select asp-for="OrgEntry.OrganisationStatus" asp-items="Model.OrganisationStatuses" class="form-control"></select>
                </p>
            </div>

            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary" />
            </div>

            <h2>Optional</h2>
            <div class="form-group">
                <label asp-for="OrgEntry.TaxCode" class="control-label"></label>
                <p>
                    <select asp-for="OrgEntry.TaxCode" asp-items="Model.TaxCodes" class="form-control"></select>
                </p>
                <span asp-validation-for="OrgEntry.TaxCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.PaymentTerms" class="control-label"></label>
                <input asp-for="OrgEntry.PaymentTerms" class="form-control" />
                <span asp-validation-for="OrgEntry.PaymentTerms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.PaymentDays" class="control-label"></label>
                <input asp-for="OrgEntry.PaymentDays" class="form-control" />
                <span asp-validation-for="OrgEntry.PaymentDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.ExpectedDays" class="control-label"></label>
                <input asp-for="OrgEntry.ExpectedDays" class="form-control" />
                <span asp-validation-for="OrgEntry.ExpectedDays" class="text-danger"></span>
            </div>
            <div class="form-check-inline">
                <label asp-for="OrgEntry.PayDaysFromMonthEnd" class="control-label"></label>
                <input asp-for="OrgEntry.PayDaysFromMonthEnd" class="form-control" />
                <span asp-validation-for="OrgEntry.PayDaysFromMonthEnd" class="text-danger"></span>
            </div>
            <div class="form-check-inline">
                <label asp-for="OrgEntry.PayBalance" class="control-label"></label>
                <input asp-for="OrgEntry.PayBalance" class="form-control" />
                <span asp-validation-for="OrgEntry.PayBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.ContactName" class="control-label"></label>
                <input asp-for="OrgEntry.ContactName" class="form-control" />
                <span asp-validation-for="OrgEntry.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.EmailAddress" class="control-label"></label>
                <input asp-for="OrgEntry.EmailAddress" class="form-control" />
                <span asp-validation-for="OrgEntry.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.PhoneNumber" class="control-label"></label>
                <input asp-for="OrgEntry.PhoneNumber" class="form-control" />
                <span asp-validation-for="OrgEntry.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgEntry.BusinessAddress" class="control-label"></label>
                <input asp-for="OrgEntry.BusinessAddress" class="form-control" />
                <span asp-validation-for="OrgEntry.BusinessAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="@Model.ReturnUrl">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}