@page
@model TradeControl.Web.Pages.Subject.Address.EditModel
@{ ViewData["Title"] = "Edit Address"; }
<h1>@ViewData["Title"]</h1>
<hr />

<h4>@Html.DisplayFor(model => model.SubjectName)</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Subject_tbAddress.AddressCode" />
            <input type="hidden" asp-for="Subject_tbAddress.SubjectCode" />
            <input type="hidden" asp-for="Subject_tbAddress.InsertedBy" />
            <input type="hidden" asp-for="Subject_tbAddress.UpdatedBy" />
            <input type="hidden" asp-for="Subject_tbAddress.InsertedOn" />
            <input type="hidden" asp-for="Subject_tbAddress.UpdatedOn" />

            <div class="mb-3">
                <label asp-for="Subject_tbAddress.Address" class="control-label"></label>
                <textarea rows="5" asp-for="Subject_tbAddress.Address" class="form-control"></textarea>
                <span asp-validation-for="Subject_tbAddress.Address" class="text-danger"></span>
            </div>

            <div class="form-check form-check-inline mb-3">
                <input asp-for="IsAdminAddress" class="form-check-input" />
                <label asp-for="IsAdminAddress" class="form-check-label"></label>
                <span asp-validation-for="IsAdminAddress" class="text-danger ms-2"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="SAVE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Subject_tbAddress.SubjectCode" class="btn btn-info">To List</a>
            </div>
        </form>

    </div>
</div>
