@page
@model TradeControl.Web.Pages.Cash.CategoryCode.CreateModel
@{ ViewData["Title"] = "Create Category"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cash_tbCategory.CategoryCode" class="control-label"></label>
                <input asp-for="Cash_tbCategory.CategoryCode" class="form-control" />
                <span asp-validation-for="Cash_tbCategory.CategoryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_tbCategory.Category" class="control-label"></label>
                <input asp-for="Cash_tbCategory.Category" class="form-control" />
                <span asp-validation-for="Cash_tbCategory.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_tbCategory.DisplayOrder" class="control-label"></label>
                <input asp-for="Cash_tbCategory.DisplayOrder" class="form-control" />
                <span asp-validation-for="Cash_tbCategory.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_tbCategory.CashPolarityCode" class="control-label"></label>
                <p>
                    <select asp-for="CashPolarity" asp-items="Model.CashPolaritys" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Cash_tbCategory.CashTypeCode" class="control-label"></label>
                <p>
                    <select asp-for="CashType" asp-items="Model.CashTypes" class="form-control"></select>
                </p>
            </div>

            <input type="hidden" asp-for="Cash_tbCategory.CashPolarityCode" />
            <input type="hidden" asp-for="Cash_tbCategory.CashTypeCode" />
            <input type="hidden" asp-for="Cash_tbCategory.CategoryTypeCode" />
            <input type="hidden" asp-for="Cash_tbCategory.IsEnabled" />
            <input type="hidden" asp-for="Cash_tbCategory.InsertedBy" />
            <input type="hidden" asp-for="Cash_tbCategory.InsertedOn" />
            <input type="hidden" asp-for="Cash_tbCategory.UpdatedBy" />
            <input type="hidden" asp-for="Cash_tbCategory.UpdatedOn" />

            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}