@page
@model TradeControl.Web.Pages.Cash.CategoryCode.EditModel
@{ ViewData["Title"] = "Edit Category"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Cash_tbCategory.CategoryCode" class="control-label"></label>
                <input asp-for="Cash_tbCategory.CategoryCode" class="form-control" />
                <span asp-validation-for="Cash_tbCategory.CategoryCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCategory.Category" class="control-label"></label>
                <input asp-for="Cash_tbCategory.Category" class="form-control" />
                <span asp-validation-for="Cash_tbCategory.Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCategory.DisplayOrder" class="control-label"></label>
                <input asp-for="Cash_tbCategory.DisplayOrder" class="form-control" />
                <span asp-validation-for="Cash_tbCategory.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCategory.CashPolarityCode" class="control-label"></label>
                <p>
                    <select asp-for="CashPolarity" asp-items="Model.CashPolaritys" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="Cash_tbCategory.CashTypeCode" class="control-label"></label>
                <p>
                    <select asp-for="CashType" asp-items="Model.CashTypes" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input asp-for="IsEnabled" class="form-check-input" /> @Html.DisplayNameFor(model => model.Cash_tbCategory.IsEnabled)
                </label>
                <span asp-validation-for="IsEnabled" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Cash_tbCategory.CashPolarityCode" />
            <input type="hidden" asp-for="Cash_tbCategory.CashTypeCode" />
            <input type="hidden" asp-for="Cash_tbCategory.CategoryTypeCode" />
            <input type="hidden" asp-for="Cash_tbCategory.InsertedBy" />
            <input type="hidden" asp-for="Cash_tbCategory.InsertedOn" />
            <input type="hidden" asp-for="Cash_tbCategory.UpdatedBy" />
            <input type="hidden" asp-for="Cash_tbCategory.UpdatedOn" />

            <div class="mb-3">
                <input type="submit" value="UPDATE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-cashTypeCode="@Model.Cash_tbCategory.CashTypeCode" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
