@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.CreateModel

@{ ViewData["Title"] = "New Payment"; }
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cash_PaymentsUnposted.AccountCode" class="control-label"></label>
                <p>
                    <select asp-for="AccountName" asp-items="Model.AccountNames" class="form-control"></select>
                </p>
                <span asp-validation-for="Cash_PaymentsUnposted.AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_PaymentsUnposted.SubjectCode" class="control-label"></label>
                <p>
                    <button type="submit" asp-page-handler="GetSubjectCode" class="btn btn-outline-info">Select</button>
                    <button type="submit" asp-page-handler="NewSubjectCode" class="btn btn-outline-primary">New</button>
                </p>
                <p>
                    <select asp-for="SubjectName" asp-items="Model.SubjectNames" class="form-control"></select>
                </p>
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>

            @if (Model.InputMode != 0)
            {
                <div class="form-group">
                    <label asp-for="Cash_PaymentsUnposted.CashCode" class="control-label"></label>
                    <p>
                        <button type="submit" asp-page-handler="GetCashCode" class="btn btn-outline-info">Select</button>
                        @{
                            if (User.IsInRole(Constants.AdministratorsRole))
                            {
                                <button type="submit" asp-page-handler="NewCashCode" class="btn btn-outline-primary">New</button>
                            }
                        }
                    </p>
                    <p>
                        <select asp-for="CashDescription" asp-items="Model.CashDescriptions" class="form-control"></select>
                    </p>
                    <span asp-validation-for="CashDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cash_PaymentsUnposted.TaxCode" class="control-label"></label>
                    <p>
                        <button type="submit" asp-page-handler="GetTaxCode" class="btn btn-outline-info">Select</button>
                        @{
                            if (User.IsInRole(Constants.AdministratorsRole))
                            {
                                <button type="submit" asp-page-handler="NewTaxCode" class="btn btn-outline-primary">New</button>
                            }
                        }
                        
                    </p>
                    <p>
                        <select asp-for="TaxDescription" asp-items="Model.TaxDescriptions" class="form-control"></select>
                    </p>
                    <span asp-validation-for="TaxDescription" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Cash_PaymentsUnposted.PaidOn" class="control-label"></label>
                <input asp-for="Cash_PaymentsUnposted.PaidOn" class="form-control" />
                <span asp-validation-for="Cash_PaymentsUnposted.PaidOn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cash_PaymentsUnposted.PaymentReference" class="control-label"></label>
                <input asp-for="Cash_PaymentsUnposted.PaymentReference" class="form-control" />
                <span asp-validation-for="Cash_PaymentsUnposted.PaymentReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_PaymentsUnposted.PaidInValue" class="control-label"></label>
                <input asp-for="Cash_PaymentsUnposted.PaidInValue" class="form-control" />
                <span asp-validation-for="Cash_PaymentsUnposted.PaidInValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_PaymentsUnposted.PaidOutValue" class="control-label"></label>
                <input asp-for="Cash_PaymentsUnposted.PaidOutValue" class="form-control" />
                <span asp-validation-for="Cash_PaymentsUnposted.PaidOutValue" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Cash_PaymentsUnposted.AccountCode" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.SubjectCode" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.CashCode" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.TaxCode" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.PaymentCode" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.UserId" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.IsProfitAndLoss" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.InsertedBy" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.InsertedOn" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.UpdatedBy" />
            <input type="hidden" asp-for="Cash_PaymentsUnposted.UpdatedOn" />

            <div class="form-group">
                <input type="submit" value="PAY" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
