@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.EditModel

@{
    ViewData["Title"] = "Edit Payment";
}
<h1>@ViewData["Title"]</h1>
<h3>@Html.DisplayFor(model => model.Cash_vwPaymentsUnposted.PaymentCode)</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.UserId" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.PaymentCode" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.CashAccountCode" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.IsProfitAndLoss" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.InsertedBy" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.InsertedOn" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.UpdatedBy" />
            <input type="hidden" asp-for="Cash_vwPaymentsUnposted.UpdatedOn" />

            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.PaidOn" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.PaidOn" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.PaidOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.AccountCode" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.AccountCode" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.PaidInValue" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.PaidInValue" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.PaidInValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.PaidOutValue" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.PaidOutValue" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.PaidOutValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.PaymentReference" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.PaymentReference" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.PaymentReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.CashCode" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.CashCode" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.CashCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash_vwPaymentsUnposted.TaxCode" class="control-label"></label>
                <input asp-for="Cash_vwPaymentsUnposted.TaxCode" class="form-control" />
                <span asp-validation-for="Cash_vwPaymentsUnposted.TaxCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
